jupyterlab==1.2.6
spacy
folium
loguru
nltk
ipyleaflet
ipywidgets
jupyterlab_latex
plotly
bokeh
numpy
scipy
numexpr
patsy
scikit-learn
scikit-image
pymongo
matplotlib
ipython
pandas
requests
responses
sympy
nbformat
seaborn
nose
jupyterlab-git