jupyterlab==1.2.6
spacy
cufflinks
chart_studio
folium
pyarrow
confluent-kafka
tensorflow
keras
geopandas
itk
lantern
shapely
flake8
jupyterlab_geojson
loguru
nltk
ipywidgets
jupyterlab_latex
jupyter_contrib_nbextensions
plotly
psutil==5.7.0
bokeh
numpy
scipy
numexpr
patsy
voila
scikit-learn
scikit-image
pymongo
matplotlib
ipython
pandas
requests
responses
sympy
nbformat
seaborn
nose
nbresuse