spacy
bandit
cufflinks
folium
pyarrow
confluent-kafka
plotly
plotly-geo
kaleido
geopandas
keras
itk
jupyterlab_geojson
loguru
shapely
flake8
jupyterlab_latex
numexpr
patsy
voila
pymongo
onnxmltools
sktime
gensim
shap
skorch
hmmlearn
sklearn-porter
sklearn-deap
responses
nbresuse
tslearn
interpret
windrose
xarray
pmdarima
pystan
fbprophet
